*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}


body{
  background: #33373b;
  background: -moz-radial-gradient(center, ellipse cover,  #494e53 0%, #33373b 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #494e53 0%,#33373b 100%);
  background: radial-gradient(ellipse at center,  #494e53 0%,#33373b 100%);
}

@font-face{
    font-family: LandRoverLight;
    src: url(/Fonts/LandRover-Light.ttf);
}
@font-face{
    font-family: LandRoverDemi;
    src: url(/Fonts/LandRover-Demi.ttf);
}


.datescreen-wrapper{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 120px;


    h2{
        font-family: LandRoverDemi;
        color: #ffffff;
        font-size: 30px;
    }

    .date-input{
        color: #b0b7bb;
        font-size: 20px;
    }

}

input{
    text-align: center;
    background: none;
    border: none;
    font-size: 20px;
    color: #b0b7bb;
    cursor: pointer;
}

/*.datepicker{
    position: absolute;
    top: 210px;
    left: 600px;
    border-radius: 5px;
}*/




.frame-container{
    width: 1300px;
    margin: 80px auto 0 auto;
}

.svg-frame{
  // border: 1px solid red;
}

.model-bubble{
  fill: url(#model-bubble);
}

.nameplate-bubble{
  fill: url(#nameplate-bubble);
}

.breakdown-bubble{
    fill: #d2effc;
}

/*.inflated{
    filter: url(#white-glow);
}*/

.model-label{
    font-family: LandRoverDemi;
    fill: #ffffff;
    font-size: 20px;
}

.model-bubble-amount{
    font-family: LandRoverDemi;
    fill: #ffffff;
    font-size: 40px;
}

.nameplate-bubble-amount{
    font-family: LandRoverDemi;
    fill: #ffffff;
    font-size: 30px;
}

.nameplate-tooltip{
    fill: #0c121c;
    width: 100px;
    height: 50px;
    transform: translate(-50%, -50%);

    // &:before{
    //     position: absolute;
    //     top: -7px;
    //     border-right: 7px solid transparent;
    //     border-left: 7px solid transparent;
    //     border-bottom: 7px solid #0c121c;    
    // }
}

.nameplate-tooltip-text{
    font-family: LandRoverDemi;
    fill: #ffffff;
    font-size: 20px;
    position: relative;
}

.graph-line{
    stroke-width: 1;
    stroke: #cccccc;
}

.graph-line-bottom{
    stroke-width: 5;
    stroke: #cccccc;
}

.steps-label{
    font-family: LandRoverDemi;
    fill: #cccccc;
    font-size: 20px;
    text-align: center;
}

.duration-label{
    font-family: LandRoverDemi;
    fill: #cccccc;
    font-size: 12px;
    letter-spacing: 1px;
}

.breakdown-tooltip{
    fill: #0c121c;
    width: 100px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.breakdown-label{
    font-family: LandRoverDemi;
    fill: #cccccc;
    font-size: 20px;
    text-align: center;
}

.close-button{
    fill: #0c121c;
    // transform: translate(-50%, -50%);
}

.return-link{
    font-family: LandRoverDemi;
    fill: #cccccc;
    font-size: 20px;
    cursor: pointer;
}